.fullwidth{
    padding: 100px 0px;
    @media screen and(max-width:768px) {
        padding: 50px 0px;
    }

    .wrapper{
        h3{
            letter-spacing: 0.5px;
            color: var(--mars-color-1);
            margin-bottom: 20px;
        }
        p{
            font-size: .8rem;
            font-style: normal;
            font-weight: 400;
            text-transform: none;
            line-height: 1.7;
            letter-spacing: 0;
            color: var(--p-color2)
        
        }
    }
}