.site_map{
    padding-top: 100px;
    padding-bottom:100px;
    @media screen and (max-width:768px) {
        padding: 50px 0px;
        padding: 20px;
    }
    .list_wrapper{
        h4{
            color: var(--mars-color-1);
        }
        ul{
            padding:0px;
            li{
                padding-left: 0;
                padding-top: 10px;
                a{
                    color:var(--p-color-2);
                    text-decoration:none;
                    font-size: 12px;
                    &:hover{
                        color: var(--sub-color-2);
                    }
                }
            }
        }
        ul.a {
           li{
            list-style-type: circle;
           }
          }
          
    }
}