.about_basic_me {
    .company {
        padding-top: 80px;
        @media screen and(max-width:768px) {
            padding-bottom: 50px;
        }
        .wrapper {
            .left {
                p {
                    padding-top: 25px;
                    line-height: 1.8;
                }
            }
            .p_wrapper {
                display: flex;
                padding-top: 20px;
                @media screen and(max-width:768px) {
                    display: block;
                }
                .right_p,
                .left_p {
                    p {
                        font-size: 0.8rem;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: none;
                        line-height: 1.7;

                        color: var(--p-color2);
                    }
                }
                .right_p {
                    padding-right: 30px;
                    @media screen and(max-width:768px) {
                        padding-right: 0px;
                    }
                }
                .left_p {
                    margin-left: 30px;
                    @media screen and(max-width:768px) {
                        margin-left: 0px;
                    }
                    p {
                    }
                }
            }
        }
    }
    .about_partner {
        padding-bottom: 100px;
        .hd {
            padding-top: 30px;
            position: relative;
            text-align: center;
            &::after {
                position: absolute;
                left: 0;
                right: 0;
                top: 45px;
                height: 1px;
                width: 100%;
                background: #e5e5e5;
                content: "";
                z-index: -1;
                margin: 0 auto;
            }
            span {
                background-color: var(--white-color);
                font-size: 25px;

                font-weight: normal;
                position: absolute;
                color: var(--p-color2);
                padding: 0 10px;
                top: 25px;
                transform: rotate(180deg);
                //   transform-origin: 20% 40%;
            }
        }
        .wrapper {
            margin-top: 100px;
            p {
                padding-top: 15px;
                color: var(--p-color2);
                font-weight: 400;
                text-align: center;
            }
            .team_info {
                padding-top: 50px;
                display: grid;
                grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
                li {
                    border: 1px solid;
                    border-color: var(--border-color2);
                    a {
                        position: relative;
                        display: block;
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                        img {
                            width: 100%;
                            padding: 20px 20px;
                            filter: grayscale(100%);
                        }
                    }
                    &:hover {
                        a {
                            -webkit-transition: 0.5s;
                            transition: 0.5s;
                            &::before {
                                position: absolute;
                                content: " ";
                                height: 100%;
                                width: 100%;
                                background-color: rgba(0, 0, 0, 0.048);
                                z-index: 999;
                                -webkit-transition: 0.5s;
                                transition: 0.5s;
                            }
                        }
                    }
                }
                li:nth-child(1) {
                    border: 1px solid;
                    border-color: var(--border-color);
                    border-left-color: transparent;
                    border-top-color: transparent;
                    border-bottom-color: transparent;
                }
                li:nth-child(2) {
                    border-top-color: transparent;
                }
                li:nth-child(3) {
                    border-top-color: transparent;
                }
                li:nth-child(4) {
                    border-top-color: transparent;
                }
                li:nth-child(5) {
                    border-right-color: transparent;
                    border-top-color: transparent;
                }
                li:nth-child(6) {
                    border-left-color: transparent;
                    border-bottom-color: transparent;
                }
                li:nth-child(7) {
                    border-bottom-color: transparent;
                }
                li:nth-child(8) {
                    border-bottom-color: transparent;
                }
                li:nth-child(9) {
                    border-bottom-color: transparent;
                }
                li:nth-child(10) {
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                }
            }
        }
    }

    .buy {
        margin-top: 50px;
        padding-top: 100px;

        margin-bottom: 100px;
        @media screen and(max-width:768px){
            
        }
        h4 {
            color: var(--mars-color-2);
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
        p {
            padding-top: 10px;
            color: var(--p-color2);
            font-weight: 400;
            padding-bottom: 15px;
        }
    }
}
