.single_product {
  padding-top: 200px;
  @media screen and (max-width:768px) {
   padding-top: 120px;
  }
  .top {
    padding-bottom: 40px;
    .left {
      .product_preview {
        .owl-theme {
          .owl-dots {
            bottom: 5%;
            position: absolute;
            width: 100%;
            .owl-dot span {
              width: 30px !important;
              height: 3px !important;
              margin: 5px 2px !important;
              background: #d6d6d6;
              display: block;
              transition: opacity 0.2s ease;
              border-radius: 0px !important;
            }
          }
          &:hover {
            .owl-prev {
              left: 0px;
              opacity: 1;
            }
            .owl-next {
              right: 0px;
              opacity: 1;
            }
          }
        }
        .owl-nav {
          margin-top: 0 !important;
          .owl-prev {
            position: absolute;
            left: 15px;
            top: 43%;
            opacity: 0;
            -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
            background: rgba(0, 0, 0, 0.5) !important;
            width: 40px;
            cursor: pointer;
            height: 40px;
            position: absolute;
            display: block;
            z-index: 1000;
            border-radius: 0;
            &:focus {
              outline: 0;
            }
            &:hover {
              background: #000 !important;
            }
            span {
              font-size: 1.6875rem;
              color: #fff;
            }
          }
          .owl-next {
            position: absolute;
            right: 15px;
            top: 43%;
            opacity: 0;
            -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
            background: rgba(0, 0, 0, 0.5) !important;
            width: 40px;
            cursor: pointer;
            height: 40px;
            position: absolute;
            display: block;
            z-index: 1000;
            border-radius: 0;
            &:focus {
              outline: 0;
            }
            &:hover {
              background: #000 !important;
            }
            span {
              font-size: 1.6875rem;
              color: #fff;
            }
          }
        }

        position: relative;
        .modal.show .modal-dialog {
          max-width: 850px;
          margin: 1.75rem auto;
          .modal-content {
            background-color: transparent !important;
            border: none;
            .modal-body {
              padding: 0;
            }
            .modal-footer {
              border: none !important;
            }
            .modal-footer {
              padding: 0;
              padding-bottom: 10px;
            }
            .modal-title {
              color: var(--white-color);
              font-size: 14px;
            }
          }
        }
      }
    }

    .right {
    
      .preview_details {
        .bottom_details {
          padding: 10px 10px 5px 0px;
          border: 1px solid transparent;
          border-bottom-color: var(--border-color);
          .gender {
            a {
              color: var(--p-color2);
              font-size: 12px;
              text-transform: uppercase;
              text-decoration: none;
            }
          }

          p {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            a {
              color: var(--mars-color-1);
              text-decoration: none;
              font-size: 16px;
              letter-spacing: 0em;
              font-weight: 500;
              &:hover {
                color: var(--sub-color-2);
              }
            }

            span {
              &:last-child {
                font-weight: 600;
                color: var(--mars-color-1);
              }
            }
          }
          ul {
            padding-top: 10px;
            display: flex;
            padding-left: 0;
            li {
              margin-right: 4px;
              a {
                color: gold;
                i {
                  font-size: 14px;
                }
              }
              &:last-child {
                margin-left: auto;
                font-size: 12px;
                color: var(--p-color2);
              }
            }
          }
          // .review{
          //     display: inline;
          // }
        }
        .discription {
          padding: 20px 10px 25px 0px;
          border: 1px solid transparent;
          border-bottom-color: var(--border-color);
          p {
            line-height: 1.8;
            font-size: 12px;
            color: var(--p-color2);
          }
          .tags {
            color: var(--p-color2);
            font-size: 13px;
            text-transform: capitalize;
            a {
              color: var(--p-color);
              font-size: 13px;
              text-transform: capitalize;
              &:hover {
                text-decoration: none;
                color: var(--sub-color-2);
              }
            }
          }
        }

        .order {
          padding: 25px 0 20px 0;
          display: flex;
          justify-content: space-between;
          @media screen and (max-width:768px) {
            margin-top: 40px;
          }
          @media screen and (max-width:576px) {
            display: block;
          }
          h6 {
            font-size: 12px;
            padding-bottom: 10px;
          }
          .right {
            .size {
              margin-bottom: 20px;
              border-radius: 0;
              outline: none;
              padding: 6px 10px;
              background-color: transparent;
              cursor: pointer;
              font-size: 14px;
              border: 1px solid;
              border-color: var(--border-color) !important;
            }
            /* Style the active class, and buttons on mouse-over */
            .active,
            .size:hover {
              background-color: rgb(24, 21, 21);
              color: white;
            }

            .quantity {
              display: flex;
              padding: 0;
              .quantity__minus,
              .quantity__plus {
                width: 32px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                text-align: center;
                border: 1px solid;
                border-color: var(--border-color);
                background: var(--white-color);
                color: #424246 !important;
                line-height: 23px;
                text-decoration: none;
              }
              .quantity__minus:hover,
              .quantity__plus:hover {
                background: #575b71;
                color: #fff;
              }
              .quantity__input {
                width: 32px;
                height: 35px;
                margin: 0;
                padding: 0;
                text-align: center;
                border: 1px solid;
                border-color: var(--border-color);
                background: #fff;
                color: #8184a1;
                font-size: 12px;
              }
              .quantity__minus:link,
              .quantity__plus:link {
                color: #a8a9af;
              }
              .quantity__minus:visited,
              .quantity__plus:visited {
                color: #fff;
              }
            }
          }
          .left {
            @media screen and (max-width:576px) {
             padding-top: 20px ;
            }
            .form-select-small{
              width: 100% !important;
            }
            .form-select {
              background-color: transparent !important;
              border-color: var(--p-color2) !important;
              color: var(--mars-color-1);
              border: 1px solid !important;
              border-color: var(--border-color) !important;
              font-size: 12px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 8px 10px;
              font-weight: 500;
              width: 100%;
              border-radius: 5px;
              margin-bottom: 20px;
            
              option {
                font-size: 12px;
              }
            }
            .form-select:focus {
              border-color: #0d1114 !important;
              border: 2px solid !important;
            }
          }
        }
      }
    }
  }

  .middle {
    .tab_section {
      padding-bottom: 40px;
      .nav-tabs {
        border: transparent !important;
        .nav-item {
          .nav-link {
            background-color: transparent !important;
            font-size: 14px;
            color: var(--p-color);
            &:hover {
              border-color: transparent;
              color: var(--sub-color-2) !important;
            }
          }
        }
      }
      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active {
        color: var(--sub-color-2) !important;
        border-color: #e9ecef #e9ecef #dee2e6 !important;
        border-bottom-color: white !important;
      }

      .tab-content {
      }
      .tab-content > .active {
        display: block;
        border: 1px solid;
        border-color: #e9ecef;
        padding: 20px;
        border-radius: 3px;
        .disc_info {
          p {
            line-height: 1.8;
            font-size: 13px;
            color: var(--p-color2);
          }
        }
        .p_details {
          table {
            tbody {
              td {
                vertical-align: middle;
                padding: 12px;

                color: var(--mars-color-1);
                font-size: 12px;
              }
            }
          }
        }

        .Reviews {
          .replay {
            margin-top: 30px;
            h6 {
              font-size: 16px;
              letter-spacing: 1px;
              text-transform: capitalize !important;
              color: var(--p-color2);
              span {
                color: var(--sub-color-2);
              }
            }
            .top_comment {
              padding: 20px;
              padding-bottom: 0;
              display: flex;

              .img_wrapper {
                max-width: 50px;
                img {
                  width: 100%;
                  border-radius: 50%;
                  border-top-left-radius: 100%;
                  border-bottom-left-radius: 50%;
                  border-bottom-right-radius: 100%;
                }
              }
              .comment_details {
                padding-top: 10px;
                padding-left: 20px;

                .top {
                  display: flex;
                  justify-content: space-between;
                  padding-bottom: 0px;
                  span {
                    color: var(--secondary-color);
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: capitalize !important;
                  }
                  ul {
                    padding-top: 10px;
                    display: flex;
                    padding-left: 0;
                    margin-bottom: 0;
                    li {
                      margin-right: 4px;

                      a {
                        color: gold;
                        i {
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }
                .date {
                  padding-bottom: 5px;
                  font-size: 10px;
                  color: var(--p-color2);
                  span {
                    margin-left: 15px;
                    a {
                      font-weight: 600;
                      color: var(--sub-color-2) !important;
                      font-size: 10px;
                      text-decoration: none;
                    }
                  }
                }

                p {
                  font-size: 0.8rem;
                  font-style: normal;
                  font-weight: 400;
                  text-transform: none;
                  line-height: 1.7;
                  letter-spacing: 0;
                  color: #777;
                }
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    .related_wrapper {
      padding-bottom: 50px;
      .no_boder{
        border: none !important;
      }
      .related_product {
        padding-bottom: 10px;
        border:1px solid;
        border-color: transparent;
        border-bottom-color: var(--border-color);
        display: flex;
        margin-bottom: 20px;
        .img_wrapper {
          max-width: 75px;
          img {
            width: 100%;
          }
        }
        .r_p_details {
          padding-left: 10px;
          .gender {
            color: var(--p-color2);
            font-size: 11px;
            text-transform: capitalize;
          }

          .name {
            a {
              color: var(--p-color);
              font-size: 13px;
              font-weight: 500;
              &:hover{
                color: var(--sub-color-2);
                text-decoration: none;
              }
            }
          }
          p {
            margin-bottom: 0;
            span {
              color: var(--p-color2);
              font-size: 12px;
            }
            :last-child {
              text-decoration: line-through;
              color: var(--p-color);
              font-size: 13px;
              font-weight: 600;
            }
          }
          ul {
            padding-top: 0px;
            display: flex;
            padding-left: 0;
            li {
                margin-right: 4px;
              a {
                color: gold;
                i {
                font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
