// footer default
.footer {
    background-color: var(--footer-main) !important;
    padding-top: 70px;

    @media screen and (max-width:576px) {
        padding-top: 40px;
     }

    .wrapper {
        padding-bottom: 70px;
        @media screen and (max-width:992px) {
           padding: 0px 50px 70px 50px;
        }
        @media screen and (max-width:576px) {
            padding: 0px 20px 70px 20px;
         }
         @media screen and (max-width:400px) {
            padding: 0px 15px 40px 15px;
         }
        h6 {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .footer_brand {
            margin-bottom: 20px;
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: 1.5px;
        }
        .footer_abt {
            p {
                line-height: 1.6;
                font-size: 13px;
                color: var(--p-color2);
                margin-bottom: 30px;
            }

            @media screen and (max-width:992px) {
                margin-bottom: 15px;
            }
        }
        .footer_links {
            ul {
                padding-left: 0;
                li {
                    margin-bottom: 8px;
                    a {
                        line-height: 1.6;
                        font-size: 13px;
                        color: var(--p-color);
                        text-align: left;
                        text-decoration: none;
                        &:hover {
                            color: var(--sub-color-2);
                        }
                    }
                }
            }
            .follow {
                .f_h {
                    font-size: 13px;
                    letter-spacing: 1px;
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 24px;
                    padding-top: 40px;
                    margin-bottom: 20px;
                }
                .follow_icons {
                    display: inline-flex;

                    margin-bottom: 0;
                    li {
                        padding-bottom: 0;
                        overflow: hidden;
                        margin-right: 10px;
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;

                        a {
                            height: 100%;

                            border-radius: 50%;
                            color: var(--p-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            transition: background 0.2s, color 0.2s;
                            &:hover {
                                transform: scaleY(1.2);
                                i {
                                    color: var(--white-color);
                                }
                                .bi::before {
                                    animation: spinAround 0.5s linear;
                                }
                            }
                            i {
                                font-size: 13px;
                                // padding: 0px 9px;
                                color: var(--white-color);
                                // display: block;
                            }
                        }
                    }
                    li:nth-child(1) a {
                        background-color: #5d82d1;
                    }
                    li:nth-child(2) a {
                        background-color: #40bff5;
                    }
                    li:nth-child(3) a {
                        background-color: #db4437;
                    }
                    li:nth-child(4) a {
                        background-color: #ff0000;
                    }
                }
            }
            
            @media screen and (max-width:992px) {
                margin-bottom: 15px;
            }
        }
    }
    .footer_bottom {
        padding: 30px 0 30px 0;
        background-color: var(--footer);
        p {
            line-height: 1.6;
            font-size: 13px;
            color: var(--p-color);
            text-decoration: none;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                line-height: 1.6;
                font-size: 12px;
                color: var(--p-color);
                text-decoration: none;
                &:hover {
                    color: var(--sub-color-2);
                }
            }
        }
    }
}
// footer dark
.footer_dark {
    background-color: var(--mars-color-3) !important;
    padding-top: 70px;
    .wrapper {
        padding-bottom: 70px;
        h6 {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 24px;
            margin-bottom: 20px;
            color: var(--white-color);
        }
        .footer_abt {
            p {
                line-height: 1.6;
                font-size: 13px;
                color: var(--p-color2);
                margin-bottom: 30px;
            }
        }
        .footer_links {
            ul {
                padding-left: 0;
                li {
                    margin-bottom: 8px;
                    a {
                        line-height: 1.6;
                        font-size: 13px;
                        color: var(--p-color2);
                        text-align: left;
                        text-decoration: none;
                        &:hover {
                            color: var(--sub-color-2);
                        }
                    }
                }
            }
        }
    }
    .footer_bottom {
        padding: 30px 0 30px 0;
        background-color: var(--mars-color-1);
        .icons {
            display: flex;
            padding-right: 30px;
            margin-bottom: 0;
            li {
                padding-bottom: 0;
                overflow: hidden;
                a {
                    color: var(--p-color);
                    display: block;
                    padding: 10px 0;
                    text-decoration: none;
                    transition: background 0.2s, color 0.2s;
                    &:hover {
                        transform: scaleY(1.2);
                        i {
                            color: var(--white-color);
                        }
                        .bi::before {
                            animation: spinAround 0.5s linear;
                        }
                    }
                    i {
                        font-size: 13px;
                        padding: 0px 9px;
                        display: block;
                    }
                }
            }
            li:nth-child(1) a {
                &:hover {
                    background-color: #5d82d1;
                }
            }
            li:nth-child(2) a {
                &:hover {
                    background-color: #40bff5;
                }
            }
            li:nth-child(3) a {
                &:hover {
                    background-color: #db4437;
                }
            }
            li:nth-child(4) a {
                &:hover {
                    background-color: #ff0000;
                }
            }
            li:nth-child(5) a {
                &:hover {
                    background-color: #c32aa3;
                }
            }
            li:nth-child(6) a {
                &:hover {
                    background-color: #0a66c2;
                }
            }
            li:nth-child(7) a {
                &:hover {
                    background-color: #61bed9;
                }
            }
            li:nth-child(8) a {
                &:hover {
                    background-color: #6cc644;
                }
            }
            li:nth-child(9) a {
                &:hover {
                    background-color: #e01e5a;
                }
            }
        }
        p {
            line-height: 1.6;
            font-size: 13px;
            color: var(--p-color);
            text-decoration: none;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                line-height: 1.6;
                font-size: 12px;
                color: var(--white-color);
                text-decoration: none;
                &:hover {
                    color: var(--sub-color-2);
                }
            }
        }
    }
    .footer_bottom_icon {
        padding: 30px 0 30px 0;
        background-color: var(--mars-color-1);
        .f_icons {
            display: flex;
            padding-left: 0;
            padding-right: 0px;
            margin-bottom: 0;
            li {
                padding-bottom: 0;
                overflow: hidden;
                &:hover {
                    a {
                        background-color: var(--white-color);
                    }
                }
                a {
                    color: var(--p-color);
                    display: block;
                    padding: 10px 0;
                    text-decoration: none;
                    transition: background 0.2s, color 0.2s;
                    &:hover {
                        transform: scaleY(1.2);
                        i {
                            color: var(--sub-color-2);
                        }
                        .bi::before {
                            animation: spinAround 0.5s linear;
                        }
                    }
                    i {
                        font-size: 13px;
                        padding: 0px 9px;
                        display: block;
                    }
                }
            }
        }
        p {
            line-height: 1.6;
            font-size: 13px;
            color: var(--p-color);
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                line-height: 1.6;
                font-size: 12px;
                color: var(--white-color);
                text-decoration: none;
                &:hover {
                    color: var(--sub-color-2);
                }
            }
        }
    }
}

// footer bg
.footer_bg {
    background-color: var(--footer-main) !important;
    padding-top: 70px;
    .wrapper {
        padding-bottom: 70px;
        h6 {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 24px;
            margin-bottom: 20px;
        }

        .footer_abt {
            background-image: url(../../Images/footer/map.jpg);
            width: 100%;
            background-position: center;
            background-size: contain;
            height: 200px;
            background-repeat: no-repeat;
@media screen and (max-width:992px) {
    height: auto;
    margin-bottom: 40px;
}
            .footer_address {
                address {
                    padding-bottom: 0px;

                    i {
                        margin-right: 10px;
                        opacity: 0.8;
                    }

                    p {
                        color: var(--p-color1);
                        font-size: 13px;
                        padding-bottom: 0;
                        margin-bottom: 10px;
                    }
                }
                .phone {
                    span {
                        color: var(--mars-color-3);
                        font-size: 14px;
                        font-weight: 600;
                    }
                    i {
                        margin-right: 10px;
                    }
                    a {
                        color: var(--p-color1);
                        font-size: 13px;
                        text-decoration: none;
                    }
                }

                .time {
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    i {
                        margin-right: 10px;
                    }
                    span {
                        color: var(--mars-color-3);
                        font-size: 14px;
                        font-weight: 600;
                        padding-left: 15px;
                    }
                    p {
                        color: var(--p-color1);
                        font-size: 13px;
                        text-decoration: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .footer_links {
        ul {
            padding-left: 0;
            li {
                margin-bottom: 8px;
                a {
                    line-height: 1.6;
                    font-size: 13px;
                    color: var(--p-color);
                    text-align: left;
                    text-decoration: none;
                    &:hover {
                        color: var(--sub-color-2);
                    }
                }
            }
        }
        .follow {
            .f_h {
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 24px;
                padding-top: 40px;
                margin-bottom: 20px;
            }
            .follow_icons {
                display: inline-flex;

                margin-bottom: 0;
                li {
                    padding-bottom: 0;
                    overflow: hidden;
                    margin-right: 10px;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;

                    a {
                        height: 100%;

                        border-radius: 50%;
                        color: var(--p-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        transition: background 0.2s, color 0.2s;
                        &:hover {
                            transform: scaleY(1.2);
                            i {
                                color: var(--white-color);
                            }
                            .bi::before {
                                animation: spinAround 0.5s linear;
                            }
                        }
                        i {
                            font-size: 13px;
                            // padding: 0px 9px;
                            color: var(--white-color);
                            // display: block;
                        }
                    }
                }
                li:nth-child(1) a {
                    background-color: #5d82d1;
                }
                li:nth-child(2) a {
                    background-color: #40bff5;
                }
                li:nth-child(3) a {
                    background-color: #db4437;
                }
                li:nth-child(4) a {
                    background-color: #ff0000;
                }
            }
        }
    }
    .footer_form {
        .input-group {
            .form-control {
                font-size: 12px;
                padding: 17px 14px;
                border-top-left-radius: 0px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 0px;
            }
        }

        textarea {
            border-radius: 5px;
            border: 1px solid #ced4da;
            padding: 20px 20px;
            font-size: 13px;
            &:focus {
                color: #5f5f5f;
                background-color: #fff;
                border-color: var(--sub-color-2);
                outline: 0;
            }
        }
    }
    .footer_bottom {
        padding: 30px 0 30px 0;
        background-color: var(--footer);
        p {
            line-height: 1.6;
            font-size: 13px;
            color: var(--p-color);
            text-decoration: none;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                line-height: 1.6;
                font-size: 12px;
                color: var(--p-color);
                text-decoration: none;
                &:hover {
                    color: var(--sub-color-2);
                }
            }
        }
    }
}

// footer dark
.footer_light {
    background-color: var(--footer-main) !important;

    padding-top: 70px;
    .wrapper {
        padding-bottom: 70px;
        h6 {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .footer_abt {
            p {
                line-height: 1.6;
                font-size: 13px;
                color: var(--p-color2);
                margin-bottom: 30px;
            }
            .footer_mailbox {
                margin-right: 50px;
                .form-control {
                    font-size: 12px;
                    padding: 17px 14px;
                }
            }
        }
        .footer_links {
            ul {
                padding-left: 0;
                li {
                    margin-bottom: 8px;
                    a {
                        line-height: 1.6;
                        font-size: 13px;
                        color: var(--p-color2);
                        text-align: left;
                        text-decoration: none;
                        &:hover {
                            color: var(--sub-color-2);
                        }
                    }
                }
            }
        }
    }

    .footer_bottom_light {
        padding: 30px 0 30px 0;
        background-color: var(--footer);
        .f_icons {
            display: flex;
            padding-left: 0;
            padding-right: 0px;
            margin-bottom: 0;
            li {
                padding-bottom: 0;
                overflow: hidden;
                margin-right: 6px;
                border-radius: 5px;
                &:hover {
                    a {
                        background-color: var(--white-color);
                    }
                }
                a {
                    color: var(--white-color);
                    display: block;
                    padding: 6px 0;
                    text-decoration: none;
                    transition: background 0.2s, color 0.2s;
                    &:hover {
                        transform: scaleY(1.2);

                        .bi::before {
                            animation: spinAround 0.5s linear;
                        }
                    }
                    i {
                        font-size: 12px;
                        padding: 0px 9px;
                        display: block;
                    }
                }
            }

            li:nth-child(1) a {
                background-color: #5d82d1;
            }
            li:nth-child(2) a {
                background-color: #40bff5;
            }
            li:nth-child(3) a {
                background-color: #db4437;
            }

            li:nth-child(4) a {
                background-color: #ff0000;
            }

            li:nth-child(5) a {
                background-color: #c32aa3;
            }

            li:nth-child(6) a {
                background-color: #0a66c2;
            }

            li:nth-child(7) a {
                background-color: #61bed9;
            }

            li:nth-child(8) a {
                background-color: #6cc644;
            }

            li:nth-child(9) a {
                background-color: #e01e5a;
            }
        }
        p {
            line-height: 1.6;
            font-size: 13px;
            color: var(--p-color);
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                line-height: 1.6;
                font-size: 12px;
                color: var(--mars-color-1);
                text-decoration: none;
                &:hover {
                    color: var(--sub-color-2);
                }
            }
        }
    }
}

// footer light 5
.footer_light_5 {
    background-color: var(--footer-main) !important;
    padding-top: 70px;
    @media screen and (max-width:768px) {
        padding-left: 15px;
    }

    .wrapper {
        padding-bottom: 70px;

        .office_info {
            display: flex;
            i {
                font-size: 30px;
            }
            .bi::before {
                font-weight: 700 !important;
                vertical-align: top;
            }
            .details {
                padding-left: 15px;
                h5 {
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-bottom: 15px;
                }

                p {
                    margin-bottom: 0;
                    color: var(--p-color2);
                    font-size: 13px;
                    font-weight: 600;
                }
                span {
                    margin-bottom: 20px;
                    color: var(--p-color2);
                    font-size: 13px;
                }
            }
        }

        .footer_links {
            ul {
                padding-left: 0;
                li {
                    margin-bottom: 8px;
                    a {
                        line-height: 1.6;
                        font-size: 13px;
                        color: var(--p-color2);
                        text-align: left;
                        text-decoration: none;
                        &:hover {
                            color: var(--sub-color-2);
                        }
                    }
                }
            }
        }
    }

    .footer_bottom_light {
        padding: 30px 0 30px 0;
        background-color: var(--footer);
        .f_icons {
            display: flex;
            padding-left: 0;
            padding-right: 0px;
            margin-bottom: 0;
            padding-top: 15px;
            li {
                padding-bottom: 0;
                overflow: hidden;
                margin-right: 6px;
                border-radius: 5px;
                &:hover {
                    a {
                        background-color: var(--white-color);
                    }
                }
                a {
                    color: var(--white-color);
                    display: block;
                    padding: 6px 0;
                    text-decoration: none;
                    transition: background 0.2s, color 0.2s;
                    &:hover {
                        transform: scaleY(1.2);

                        .bi::before {
                            animation: spinAround 0.5s linear;
                        }
                    }
                    i {
                        font-size: 12px;
                        padding: 0px 9px;
                        display: block;
                    }
                }
            }

            li:nth-child(1) a {
                background-color: #5d82d1;
            }
            li:nth-child(2) a {
                background-color: #40bff5;
            }
            li:nth-child(3) a {
                background-color: #db4437;
            }

            li:nth-child(4) a {
                background-color: #ff0000;
            }

            li:nth-child(5) a {
                background-color: #c32aa3;
            }

            li:nth-child(6) a {
                background-color: #0a66c2;
            }

            li:nth-child(7) a {
                background-color: #61bed9;
            }

            li:nth-child(8) a {
                background-color: #6cc644;
            }

            li:nth-child(9) a {
                background-color: #e01e5a;
            }
        }
        p {
            text-align: center;
            line-height: 2.5;
            font-size: 13px;
            color: var(--p-color);
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                font-size: 12px;
                color: var(--mars-color-1);
                text-decoration: none;
                &:hover {
                    color: var(--sub-color-2);
                }
            }
        }
    }
}

// footer default
.footer_clip_path {
    background-color: var(--white-color) !important;
    padding-top: 70px;

    .wrapper {
        padding-bottom: 70px;
        h6 {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .footer_brand {
            margin-bottom: 20px;
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: 1.5px;
        }
        .footer_abt {
            p {
                line-height: 1.6;
                font-size: 13px;
                color: var(--p-color2);
                margin-bottom: 30px;
            }
        }
        .footer_links {
            ul {
                padding-left: 0;
                li {
                    margin-bottom: 8px;
                    a {
                        line-height: 1.6;
                        font-size: 13px;
                        color: var(--p-color);
                        text-align: left;
                        text-decoration: none;
                        &:hover {
                            color: var(--sub-color-2);
                        }
                    }
                }
            }
        }
    }
    .footer_bottom {
        padding: 30px 0 30px 0;
        background-color: var(--footer);
        p {
            line-height: 1.6;
            font-size: 13px;
            color: var(--p-color);
            text-decoration: none;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                line-height: 1.6;
                font-size: 12px;
                color: var(--p-color);
                text-decoration: none;
                &:hover {
                    color: var(--sub-color-2);
                }
            }
        }
    }
}
